@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .hov-highlight {
        @apply hover:bg-slate-800 hover:rounded-full transition-all ease-linear
    }
    .navbar-item {
        @apply font-bold text-cyan-100 py-2 px-0 text-2xl flex invisible md:visible w-0 md:w-auto md:px-8 align-middle hov-highlight
    }
    .hamburger-menu.show-menu {
        @apply rounded-b-lg border-2 border-t-0 h-auto
    }
    .hamburger-menu {
        @apply overflow-y-scroll bg-slate-700 w-screen text-center h-0
    }
    .hamburger-item {
        @apply text-lg text-cyan-100 shadow-lg font-mono font-bold
    }
    .hide-mobile {
        @apply invisible md:visible h-0 md:h-auto
    }
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}